
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color:#eeeff1;
}
section{
    height: 500px;
    margin-top: 50px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 1.2em;
    font-weight: 100;
    text-align: justify;
}    
nav{
    height: 100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
nav li{
    list-style: none;
    float: right;
    padding: 10px;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
nav a:hover{
    color: blue;
    background-color: goldenrod;
}
.box a{
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.flexible-area{
    display: flex;
}
.my-desire{
    width: 60%;
    padding: 0 5%;
    margin-top: 50px;
    margin-right: 30px;
}
.my-image{
    width: 40%;
    padding-left: 8%;
    margin-top: 50px;
}
.my-image img{
    width: 100%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.service-name{
    margin-top: 15%;
}
.service-text-name{
    font-size: 16px;
    line-height: 45px;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ced1df;
    border-radius: 8px;
    color: #000;
    background-color: #eeeff1;
    background-size: auto;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;    
}
.working-with-me{
    width: 30%;
}
.working-with-me img{
    max-width: 200px;
    border-radius: 200px;
    margin-left: 20%;
   
}
.working-with{
    width: 70%;
    padding-left: 10%;
    padding-right: 5%;
}
.working h1{
    margin-left: 10%;
}
.working-with-me h3,h4{
    padding-left: 30%;
}
.contact-us{
    border: 1px solid black;
    border-radius: 30px;
    margin: 0 10%;
}
.contact{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    
}
.contact input{
    padding: 5%;
    border-radius: 5px;
    background-color: gainsboro;
}
.button{
    background-color: black;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
footer{
    margin-top: 100px;
}
footer p{
    text-align: center;
    font-size: 15px;
}

